/* base style or reset style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  background-color: #94c4fe;
}

/* container */
.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background-color: #2c486acb;
  margin-top: 50px;
  padding: 10px;
}

/* title */
.section-title {
  text-align: center;
  color: white;
  padding: 20px 0;
}

/* editor */
.editor {
  background-color: #bed9fd;
  padding: 8px;
  border: 2px solid #455364;
}

/* menu interfaces */
.menu-btns-interface {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
}
.left-interface,
.middle-interface,
.right-interface {
  display: flex;
  gap: 14px;
}
.right-interface {
  display: flex;
  align-items: center;
}
#italic {
  font-style: italic;
}
.typography {
  cursor: default;
  font-weight: 600;
  padding: 0 2px;
  border-radius: 2px;
}

.icon {
  cursor: default;
  padding: 4px;
  border-radius: 3px;
}

#font-size {
  outline: none;
}

#color-gen {
  border: none;
  padding: 0;
  background-color: inherit;
}

/* hover statemetns */
.typography:hover,
.alignment:hover {
  background-color: #9dbfeb;
}

/* border */
.border {
  height: 2px;
  background-color: #94c4fe;
  margin: 10px 0;
}

/* textarea */
#textarea {
  width: 100%;
  resize: none;
  font-size: 18px;
  padding: 8px;

  height: 400px;
}

/* toggle class */
.selected {
  background-color: #9dbfeb;
  color: #455364;
}
